/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago

/purescript-dependency-graph
/public/index.js
/public/style.css
/env.fish
/reports